<ion-view title="Workout" class="workout-tab" ng-init="workout_init()">
    <ion-content class="has-header padding">
        <ng-form name="workout_form" class="workout_form">
            <a class="exercise-link" ng-click="openModal()">
                #{{ current_workout_index + 1}} <span class="exercise_name">{{ current_set.exercise_name | characters: 13 }} <i class="icon ion-chevron-down"></span></i>
            </a>

            <button class="button record_button"><i class="icon ion-videocamera"></i></button>
            <br>

            <input name="weight" placeholder="45" type="number" ng-model="current_set.weight" ng-required="true">
            <span class="form_text">lbs for</span>

            <input name="reps" placeholder="5" type="number" ng-model="current_set.reps" ng-required="true">
            <span class="form_text">reps</span>

            <textarea placeholder="notes"></textarea>
        </ng-form>

        <br>

        <!--<button class="button button-small" ng-click="clear_form()"><i class="icon ion-refresh"></i> Reset form</button>-->

        <div class="bottom_buttons">
            <a class="button previous_workout_button" ng-click="previous_workout()" ng-disabled="current_workout_index == 0">
                <i class="icon ion-chevron-left"></i>
            </a>
            <a class="button end_workout_button" ng-disabled="!finish_workout_button_enabled()">
                <i class="icon ion-stop"></i> Finish workout
            </a>
            <a class="button next_workout_button" ng-click="next_workout()" ng-disabled="!workout_form.$valid">
                <i class="icon ion-chevron-right"></i>
            </a>
        </div>
    </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <div class="modal">
        <ion-header-bar>Select Exercise</ion-header-bar>
        <ion-content>
            <div class="list">
                <div ng-repeat="exercise_group in exercises">
                    <div class="item item-divider">
                        {{ exercise_group.name }}
                    </div>
                    <a href=""
                       class="item"
                       ng-repeat="exercise in exercise_group.exercises"
                       ng-click="set_exercise(exercise)">
                        {{ exercise }}
                    </a>
                </div>
            </div>
        </ion-content>
    </div>
</script>
